body {
    background-image: url("main.jpg");
    background-size: cover;
}

h2, th, a {
    color: #006400;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 0;
}

a {
    text-decoration: none;
}

th, td {
    padding-right: 2em;
}

#container {
    background-color: white;
    padding: 2em 2em 2em 2em;
    margin: 2em auto;
    width: 60%;
    border: 3px solid #006400;
    border-radius: 6px;
}

.errorMessage {
    color: #8b0000;
    font-size: 0.6em;
}

.authUser {
    /*border: 1px solid #006400;*/
    color: #ffffff;
    background-color: #006400;
    border-radius: 3px;
}